doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(rel='icon', type='image/png', href='img/favicon.png')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LoftSchool - Контакты
		//build:css css/vendor.css
		//bower:css
		link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
		link(rel='stylesheet', href='bower_components/components-font-awesome/css/font-awesome.css')
		//endbower
		//endbuild

		//build:css css/main.css
		link(rel="stylesheet", href="style/main.css")
		//endbuild
	body
		.wrapper
			header.header
				.container
					.header__logo
						a.logo(href='#')
							img.logo_img(src='img/logo.png', alt='LoftSchool')
					.header__social
						ul.social__list
							li.list__item
								a(href='#')
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-vk.fa-stack-1x.fa-inverse
							li.list__item
								a(href='#')
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-twitter.fa-stack-1x.fa-inverse
							li.list__item
								a(href='#')
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-facebook.fa-stack-1x.fa-inverse
							li.list__item
								a(href='#')
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-github.fa-stack-1x.fa-inverse
			section.main
				.container
					.sidebar
						ul.menu__list
							li.menu__item
								a.item__link(href='index.html') Обо мне
							li.menu__item
								a.item__link(href='works.html') Мои работы
							li.menu__item.menu__item_active
								a.item__link(href='contacts.html') Связаться со мной
						.contacts
							ul.contact__list
								li.contact__item.contact__header Контакты
								li.contact__item
									a.item__link.link__mail(href='mailto:mymail@mail.ru') #[i.fa.fa-envelope-o(aria-hidden='true')] mymail@mail.ru
								li.contact__item
									a.item__link.link__tel(href='tel:+546855785') #[i.fa.fa-phone(aria-hidden='true')] +546855785
								li.contact__item
									a.item__link.link__skype(href='skype:nickname') #[i.fa.fa-skype(aria-hidden='true')] nickname
					.content
						
			.empty
		footer.footer
			.container
				.footer__login
					a.login__link(href="#")
						//- img(src="img/login.png", alt="Выполнить вход")
				.footer__copyright © 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его






		//build:js js/vendor.js
		//bower:js
		script(src='bower_components/jquery/dist/jquery.js')
		//endbower
		//endbuild

		//build:js js/main.js
		script(src="js/main.js")
		//endbuild